
.image {
    /* padding: 0px;
    height: 450px;
    margin-bottom: 10px;  */
    position: relative;
}

.image:hover,
.messageUs:hover,
.btn:hover {
    transform: scale(1.1);
    transition: transform 0.5s ease;
}

.contact .btn {
    background-color: #7F5283;
    color: white;
}

.contactImage {
    max-width: 100%;
    height: 500px;
}



.messageUs {
    width: 100%;
    box-shadow: 10px 5px 5px #8A837A;
    border-radius: 20px;
    padding: 20px;
    background-color: #FD9795;
    text-align: center;
}


.icon-container {
    position: absolute;
    top: 70%;
    left: 28%;
    transform: translate(-50%, -50%);
    text-align: center;
}

.icon-item {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
     /* Adjust the spacing between icon items as needed */
}

.icon-item i {
   
    font-size: 24px; /* Adjust the size as needed */
    margin-right: 10px; /* Adjust the spacing between icon and text as needed */
    color: #fff; /* Adjust the color as needed */
}

.icon-item p {
    font-size: bold;
    margin: 0;
    color: #fff; /* Adjust the color as needed */
}
.text-FOOTER{
    color:white;
}

